
body {
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
    color: #333;
    background: #f4f4f4;
    overflow-x: hidden; 
    overflow-y: auto; 
}

.bg-img {
    width: 100%;
    min-height: 100vh; 
    background-image: url('anxiety.png'); 
    background-size: cover; 
    background-position: center;
    background-attachment: scroll; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible; 
}

.content {
    background: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
    text-align: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #050000;
    margin-bottom: 20px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

input[type="text"]:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.3);
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #0056b3;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #003d7a;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}



